T-PROJSPRINT.json
{
  "name": "T-PROJSPRINT",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */5 * * * *"
            }
          ]
        }
      },
      "id": "56da24d4-df22-4e9d-9526-147539409866",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37f1a0ad-6469-8063-b0ff-ff52690140ba",
          "mode": "id",
          "cachedResultName": "Projects"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "557e2ecb-fc04-4b53-9c98-a82cb15c7f5b",
      "name": "Read Projects",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37b1a0ad-6469-8040-8ff5-d5e619079a08",
          "mode": "id",
          "cachedResultName": "Sprint Goals"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "9bed20a9-a77f-4675-bec6-eb9358bb8535",
      "name": "Read Sprint Goals",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const norm = (s) => String(s||'').replace(/-/g,'');\nconst within = (d) => d && (Date.now() - new Date(d).getTime()) <= 6*60000;\nconst lt = (r) => r.json.property_last_touched && r.json.property_last_touched.start;\nconst projById = {};\nfor (const p of $('Read Projects').all()) projById[norm(p.json.id)] = p;\nconst goalProjs = (g) => {\n  const v = g.json.property_projects ?? g.json['property_projects '] ?? g.json.property_projects_;\n  if (!v) return [];\n  const a = Array.isArray(v) ? v : [v];\n  return a.map(x => norm(x && x.id ? x.id : x));\n};\nconst out = [];\nfor (const g of $('Read Sprint Goals').all()) {\n  const ids = goalProjs(g);\n  if (!ids.length) continue;\n  const anyChanged = ids.some(id => projById[id] && within(lt(projById[id])));\n  if (!anyChanged) continue;\n  const total = ids.length;\n  const done = ids.filter(id => projById[id] && projById[id].json.property_state === 'Done').length;\n  out.push({ json: { pageId: norm(g.json.id), progress: `${done}/${total} done` } });\n}\nreturn out;"
      },
      "id": "a6c60312-18f0-4404-98d6-d84ea3c2f93d",
      "name": "Compute Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"properties\": { \"Linked Projects Progress\": { \"rich_text\": [ { \"text\": { \"content\": \"{{ $json.progress }}\" } } ] } } }",
        "options": {}
      },
      "id": "f831a9b5-b0af-4ae4-969f-75a1bb1ed59f",
      "name": "Update Goal Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Projects": {
      "main": [
        [
          {
            "node": "Read Sprint Goals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sprint Goals": {
      "main": [
        [
          {
            "node": "Compute Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Progress": {
      "main": [
        [
          {
            "node": "Update Goal Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "b7725639-f730-427f-939b-0c029aea7765",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "d0c991d4ea9fb6441b00eb4eda4bc1655ef58946b745a8084687fc382cec3564"
  },
  "id": "kOexwfy1fJOPx5Xs",
  "tags": []
}