W-CAL.json
{
  "name": "W-CAL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */30 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -496
      ],
      "id": "82b6d274-bc8d-4e93-b01e-b24dd61ef9fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "jbalenton@gmail.com",
          "mode": "list",
          "cachedResultName": "Google Calendar"
        },
        "returnAll": true,
        "timeMin": "={{ $now.startOf('day') }}",
        "timeMax": "={{ $now.plus({days: 1}).endOf('day') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -768,
        -304
      ],
      "id": "0e1179fa-b0db-4c55-a6d8-79921aef4e37",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RdSNEE6FjBBy5QDo",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst lines = [];\n\nfor (const item of items) {\n  const title = item.json.summary || '(No title)';\n  const startRaw = item.json.start?.dateTime;\n  const endRaw = item.json.end?.dateTime;\n\n  if (!startRaw || !endRaw) continue;\n\n  const startTime = startRaw.substring(11, 16);\n  const endTime = endRaw.substring(11, 16);\n\n  lines.push(startTime + '–' + endTime + ': ' + title);\n}\n\nconst eventText = lines.length > 0\n  ? lines.join('\\n')\n  : '(No events today or tomorrow)';\n\nreturn [{ json: { eventText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -112
      ],
      "id": "dfc67c13-4e6f-43ef-96ac-f526b91f98aa",
      "name": "Format Event List"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8078-a6c6-ca72e3c0ff43",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Details\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n          \"content\": \"{{ $('Format Event List').item.json.eventText.replace(/\\n/g, '\\\\n') }}\"\n          }\n        }\n      ]\n    },\n    \"Last Updated\": {\n      \"date\": {\n        \"start\": \"{{ $now.toISO() }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        -64
      ],
      "id": "5f21b786-28d9-4f37-9ce5-c3a6be87c7ab",
      "name": "Update Calendar Feed",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-80b7-8eed-c7d5aadff595",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": {\n      \"date\": {\n        \"start\": \"{{ $now.toISO() }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -64
      ],
      "id": "bb13b271-bb3a-48b9-803d-e0ec39a2ad1a",
      "name": "Update Calendar Feed1",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Format Event List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Event List": {
      "main": [
        [
          {
            "node": "Update Calendar Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Feed": {
      "main": [
        [
          {
            "node": "Update Calendar Feed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cd3a6c69-c0f3-4303-9098-55ad4e57872b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0c991d4ea9fb6441b00eb4eda4bc1655ef58946b745a8084687fc382cec3564"
  },
  "id": "T7P9ILGe1HAKmwns",
  "tags": []
}