n8n-workflows/T-INBOXPROMO.json
{
  "name": "T-INBOXPROMO",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */5 * * * *"
            }
          ]
        }
      },
      "id": "95106495-042b-4970-b582-dc01af895964",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37a1a0ad-6469-807e-9a01-c71a0f36b1c1",
          "mode": "id",
          "cachedResultName": "Inbox"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "504f89f8-b72e-4ae2-a48a-a3f3d8591e22",
      "name": "Read Inbox",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const within = (d) => d && (Date.now() - new Date(d).getTime()) <= 6*60000;\nconst norm = (s) => String(s||'').replace(/-/g,'');\nconst out = [];\nfor (const r of $('Read Inbox').all()) {\n  if ((r.json.property_routing_status || '') !== 'Promoted') continue;\n  const d = r.json.property_last_touched && r.json.property_last_touched.start;\n  if (!within(d)) continue;\n  out.push({ json: { pageId: norm(r.json.id) } });\n}\nreturn out;"
      },
      "id": "2b51f354-271a-4a7a-a2eb-e1687c918092",
      "name": "Pick Promoted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"archived\": true }",
        "options": {}
      },
      "id": "03196c90-d14a-4d0e-b278-febef66f6ceb",
      "name": "Archive Inbox Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Inbox": {
      "main": [
        [
          {
            "node": "Pick Promoted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Promoted": {
      "main": [
        [
          {
            "node": "Archive Inbox Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "7f95dbf0-7508-4ebc-a3dd-94ab1ed55e51",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "d0c991d4ea9fb6441b00eb4eda4bc1655ef58946b745a8084687fc382cec3564"
  },
  "id": "RghWr2CrwkUs8RXj",
  "tags": []
}