n8n-workflows/W-ADHERE.json
{
  "updatedAt": "2026-06-17T22:33:16.591Z",
  "createdAt": "2026-06-17T22:33:16.591Z",
  "id": "aiXRkEfjVk67QwjF",
  "name": "W-ADHERE",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "3e4d37fd-8e9a-45af-b27a-fe061b272324",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 22 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "ebfc12b1-7edb-4bc8-94ee-19c0a4b0b2df",
      "name": "Read Model Week",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "0e0b8616-19af-4517-b928-82c7118ccd7f",
          "mode": "id",
          "cachedResultName": "Model Week"
        },
        "returnAll": true,
        "simple": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "4086514f-b98d-40d2-8415-71d1fc017019",
      "name": "Read System Status",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "3801a0ad-6469-8057-8548-f73c84267fdd",
          "mode": "id",
          "cachedResultName": "System Status"
        },
        "returnAll": true,
        "simple": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "def8780c-d7cb-41c5-bee9-0d28fade1b8e",
      "name": "Compute Adherence Line",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst modelWeek = $('Read Model Week').all();\nconst status = $('Read System Status').all();\nconst nameOf = (i) => i.json.property_name || i.json.name || '';\nconst detailsOf = (i) => (i && i.json.property_details) || '';\nconst calRow = status.find(i => nameOf(i) === 'Calendar Feed');\nconst adhRow = status.find(i => nameOf(i) === 'Adherence Rolling Summary');\nconst calendarText = detailsOf(calRow);\nconst existing = detailsOf(adhRow);\n\nconst days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\nconst todayName = days[new Date().getDay()];\n\nlet plannedHours = 0;\nfor (const item of modelWeek) {\n  if ((item.json.property_day || '') !== todayName) continue;\n  if ((item.json.property_energy_cost_tier || '') !== 'High') continue;\n  let tr = item.json.property_time_range || '';\n  tr = tr.replace(/[‒–—―]/g, '-'); // normalize unicode dashes to '-'\n  if (!tr || tr === '-') continue;\n  const parts = tr.split('-');\n  if (parts.length !== 2) continue;\n  const [sh, sm] = parts[0].trim().split(':').map(Number);\n  const [eh, em] = parts[1].trim().split(':').map(Number);\n  if ([sh, sm, eh, em].some(n => Number.isNaN(n))) continue;\n  const h = (eh + em / 60) - (sh + sm / 60);\n  if (h > 0) plannedHours += h;\n}\n\nlet calEventHours = 0;\nfor (const line of String(calendarText).split('\\n')) {\n  const m = line.trim().match(/^(\\d{1,2}):(\\d{2})\\s*[-‒–—―]\\s*(\\d{1,2}):(\\d{2})/);\n  if (!m) continue;\n  const s = parseInt(m[1]) + parseInt(m[2]) / 60;\n  const e = parseInt(m[3]) + parseInt(m[4]) / 60;\n  if (e > s) calEventHours += (e - s);\n}\nconst calFree = Math.max(0, 10 - calEventHours);\n\nconst today = new Date().toISOString().split('T')[0];\nconst newLine = `${today}: planned ${plannedHours.toFixed(1)}h deep-focus, calendar shows ~${calFree.toFixed(1)}h available.`;\n\n// rolling append, capped to last 30 lines to stay under Notion's 2000-char limit\nlet combined = (newLine + '\\n' + existing).split('\\n').filter(l => l.trim()).slice(0, 30).join('\\n');\nreturn [{ json: { newLine, combinedSummary: combined } }];"
      }
    },
    {
      "id": "9f15cd3d-b329-4785-9206-9a095ca29271",
      "name": "Update Adherence Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8019-8df7-e72057f0c39f",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Details\": { \"rich_text\": [ { \"text\": { \"content\": \"{{ $('Compute Adherence Line').item.json.combinedSummary.replace(/\\n/g, '\\\\n') }}\" } } ] },\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "4c77a9e3-4200-4604-8065-a7d8ea3531ea",
      "name": "Update W-ADHERE Heartbeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8040-a71f-cab2a90a1e2e",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Model Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Model Week": {
      "main": [
        [
          {
            "node": "Read System Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read System Status": {
      "main": [
        [
          {
            "node": "Compute Adherence Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Adherence Line": {
      "main": [
        [
          {
            "node": "Update Adherence Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Adherence Summary": {
      "main": [
        [
          {
            "node": "Update W-ADHERE Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": null,
  "versionId": "7e2911c4-086f-40d1-a541-85c904a000ec",
  "activeVersionId": "7e2911c4-086f-40d1-a541-85c904a000ec",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-17T22:33:16.593Z",
      "createdAt": "2026-06-17T22:33:16.593Z",
      "role": "workflow:owner",
      "workflowId": "aiXRkEfjVk67QwjF",
      "projectId": "rHH3woewt9mPybP5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-17T22:33:16.594Z",
    "createdAt": "2026-06-17T22:33:16.594Z",
    "versionId": "7e2911c4-086f-40d1-a541-85c904a000ec",
    "workflowId": "aiXRkEfjVk67QwjF",
    "nodes": [
      {
        "id": "3e4d37fd-8e9a-45af-b27a-fe061b272324",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 22 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "ebfc12b1-7edb-4bc8-94ee-19c0a4b0b2df",
        "name": "Read Model Week",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          224,
          0
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "0e0b8616-19af-4517-b928-82c7118ccd7f",
            "mode": "id",
            "cachedResultName": "Model Week"
          },
          "returnAll": true,
          "simple": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "4086514f-b98d-40d2-8415-71d1fc017019",
        "name": "Read System Status",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          448,
          0
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "3801a0ad-6469-8057-8548-f73c84267fdd",
            "mode": "id",
            "cachedResultName": "System Status"
          },
          "returnAll": true,
          "simple": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "def8780c-d7cb-41c5-bee9-0d28fade1b8e",
        "name": "Compute Adherence Line",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst modelWeek = $('Read Model Week').all();\nconst status = $('Read System Status').all();\nconst nameOf = (i) => i.json.property_name || i.json.name || '';\nconst detailsOf = (i) => (i && i.json.property_details) || '';\nconst calRow = status.find(i => nameOf(i) === 'Calendar Feed');\nconst adhRow = status.find(i => nameOf(i) === 'Adherence Rolling Summary');\nconst calendarText = detailsOf(calRow);\nconst existing = detailsOf(adhRow);\n\nconst days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\nconst todayName = days[new Date().getDay()];\n\nlet plannedHours = 0;\nfor (const item of modelWeek) {\n  if ((item.json.property_day || '') !== todayName) continue;\n  if ((item.json.property_energy_cost_tier || '') !== 'High') continue;\n  let tr = item.json.property_time_range || '';\n  tr = tr.replace(/[‒–—―]/g, '-'); // normalize unicode dashes to '-'\n  if (!tr || tr === '-') continue;\n  const parts = tr.split('-');\n  if (parts.length !== 2) continue;\n  const [sh, sm] = parts[0].trim().split(':').map(Number);\n  const [eh, em] = parts[1].trim().split(':').map(Number);\n  if ([sh, sm, eh, em].some(n => Number.isNaN(n))) continue;\n  const h = (eh + em / 60) - (sh + sm / 60);\n  if (h > 0) plannedHours += h;\n}\n\nlet calEventHours = 0;\nfor (const line of String(calendarText).split('\\n')) {\n  const m = line.trim().match(/^(\\d{1,2}):(\\d{2})\\s*[-‒–—―]\\s*(\\d{1,2}):(\\d{2})/);\n  if (!m) continue;\n  const s = parseInt(m[1]) + parseInt(m[2]) / 60;\n  const e = parseInt(m[3]) + parseInt(m[4]) / 60;\n  if (e > s) calEventHours += (e - s);\n}\nconst calFree = Math.max(0, 10 - calEventHours);\n\nconst today = new Date().toISOString().split('T')[0];\nconst newLine = `${today}: planned ${plannedHours.toFixed(1)}h deep-focus, calendar shows ~${calFree.toFixed(1)}h available.`;\n\n// rolling append, capped to last 30 lines to stay under Notion's 2000-char limit\nlet combined = (newLine + '\\n' + existing).split('\\n').filter(l => l.trim()).slice(0, 30).join('\\n');\nreturn [{ json: { newLine, combinedSummary: combined } }];"
        }
      },
      {
        "id": "9f15cd3d-b329-4785-9206-9a095ca29271",
        "name": "Update Adherence Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          896,
          0
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8019-8df7-e72057f0c39f",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Details\": { \"rich_text\": [ { \"text\": { \"content\": \"{{ $('Compute Adherence Line').item.json.combinedSummary.replace(/\\n/g, '\\\\n') }}\" } } ] },\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "4c77a9e3-4200-4604-8065-a7d8ea3531ea",
        "name": "Update W-ADHERE Heartbeat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1120,
          0
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8040-a71f-cab2a90a1e2e",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read Model Week",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Model Week": {
        "main": [
          [
            {
              "node": "Read System Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read System Status": {
        "main": [
          [
            {
              "node": "Compute Adherence Line",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Adherence Line": {
        "main": [
          [
            {
              "node": "Update Adherence Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Adherence Summary": {
        "main": [
          [
            {
              "node": "Update W-ADHERE Heartbeat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jeff Balenton",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}