n8n-workflows/W-Bound.json
{
  "updatedAt": "2026-06-18T01:22:01.631Z",
  "createdAt": "2026-06-17T00:26:18.825Z",
  "id": "aIOX0fPpVRmm4Tme",
  "name": "W-Bound",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "b9f9bd0a-6cec-4f48-9a45-724ff6592141",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "0aaf237a-b789-477f-be90-244629f2cb0c",
      "name": "Read System Status",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "3801a0ad-6469-8057-8548-f73c84267fdd",
          "mode": "id",
          "cachedResultName": "System Status"
        },
        "returnAll": true,
        "simple": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "23cdb54c-5c9c-405e-bd0a-dd90665a1097",
      "name": "Evaluate Cycle Boundary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $('Read System Status').all();\nconst nm = (r) => r.json.property_name || r.json.name || '';\nconst det = (r) => (r && r.json.property_details) || '';\nconst freezeRows = rows.filter(r => nm(r) === 'Sprint Freeze Status');\nconst freezeRow = freezeRows.find(r => det(r).trim()) || freezeRows[0];\nconst endRow = rows.find(r => nm(r) === 'Current Cycle End Date');\nconst freeze = (freezeRow ? det(freezeRow) : '').trim();\nconst endStr = (endRow ? det(endRow) : '').trim();\nlet active = false, details = '';\nif (freeze === 'Frozen' || freeze === 'Sabbatical') { active = false; }\nelse if (!endStr) { active = false; }\nelse {\n  const today = new Date(); today.setHours(0,0,0,0);\n  const end = new Date(endStr); end.setHours(0,0,0,0);\n  active = today >= end;\n  details = active ? `Cycle ended ${endStr} \\u2014 time to close the cycle.` : '';\n}\nreturn [{ json: { active, details } }];"
      }
    },
    {
      "id": "520c6092-ba04-42c6-834c-2ff4ba4471f7",
      "name": "Update Cycle Close Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-809d-b7e9-d3af755060b1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Active\": { \"checkbox\": {{ $('Evaluate Cycle Boundary').item.json.active }} },\n    \"Details\": { \"rich_text\": [ { \"text\": { \"content\": \"{{ $('Evaluate Cycle Boundary').item.json.details }}\" } } ] },\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "cee7d3ae-1513-4ec7-9983-270b9cfda768",
      "name": "Update W-BOUND Heartbeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8011-a775-e036ffc0e586",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read System Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read System Status": {
      "main": [
        [
          {
            "node": "Evaluate Cycle Boundary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Cycle Boundary": {
      "main": [
        [
          {
            "node": "Update Cycle Close Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cycle Close Due": {
      "main": [
        [
          {
            "node": "Update W-BOUND Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "e9c39ab9-782a-4f82-9f37-dbfb4cea038e",
  "activeVersionId": "e9c39ab9-782a-4f82-9f37-dbfb4cea038e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-17T00:26:18.829Z",
      "createdAt": "2026-06-17T00:26:18.829Z",
      "role": "workflow:owner",
      "workflowId": "aIOX0fPpVRmm4Tme",
      "projectId": "rHH3woewt9mPybP5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-18T01:22:01.639Z",
    "createdAt": "2026-06-18T01:22:01.639Z",
    "versionId": "e9c39ab9-782a-4f82-9f37-dbfb4cea038e",
    "workflowId": "aIOX0fPpVRmm4Tme",
    "nodes": [
      {
        "id": "b9f9bd0a-6cec-4f48-9a45-724ff6592141",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 6 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "0aaf237a-b789-477f-be90-244629f2cb0c",
        "name": "Read System Status",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          224,
          0
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "3801a0ad-6469-8057-8548-f73c84267fdd",
            "mode": "id",
            "cachedResultName": "System Status"
          },
          "returnAll": true,
          "simple": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "23cdb54c-5c9c-405e-bd0a-dd90665a1097",
        "name": "Evaluate Cycle Boundary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const rows = $('Read System Status').all();\nconst nm = (r) => r.json.property_name || r.json.name || '';\nconst det = (r) => (r && r.json.property_details) || '';\nconst freezeRows = rows.filter(r => nm(r) === 'Sprint Freeze Status');\nconst freezeRow = freezeRows.find(r => det(r).trim()) || freezeRows[0];\nconst endRow = rows.find(r => nm(r) === 'Current Cycle End Date');\nconst freeze = (freezeRow ? det(freezeRow) : '').trim();\nconst endStr = (endRow ? det(endRow) : '').trim();\nlet active = false, details = '';\nif (freeze === 'Frozen' || freeze === 'Sabbatical') { active = false; }\nelse if (!endStr) { active = false; }\nelse {\n  const today = new Date(); today.setHours(0,0,0,0);\n  const end = new Date(endStr); end.setHours(0,0,0,0);\n  active = today >= end;\n  details = active ? `Cycle ended ${endStr} \\u2014 time to close the cycle.` : '';\n}\nreturn [{ json: { active, details } }];"
        }
      },
      {
        "id": "520c6092-ba04-42c6-834c-2ff4ba4471f7",
        "name": "Update Cycle Close Due",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          672,
          0
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-809d-b7e9-d3af755060b1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Active\": { \"checkbox\": {{ $('Evaluate Cycle Boundary').item.json.active }} },\n    \"Details\": { \"rich_text\": [ { \"text\": { \"content\": \"{{ $('Evaluate Cycle Boundary').item.json.details }}\" } } ] },\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "cee7d3ae-1513-4ec7-9983-270b9cfda768",
        "name": "Update W-BOUND Heartbeat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          896,
          0
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8011-a775-e036ffc0e586",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read System Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read System Status": {
        "main": [
          [
            {
              "node": "Evaluate Cycle Boundary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Cycle Boundary": {
        "main": [
          [
            {
              "node": "Update Cycle Close Due",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Cycle Close Due": {
        "main": [
          [
            {
              "node": "Update W-BOUND Heartbeat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jeff Balenton",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}