n8n-workflows/W-CAL.json
{
  "updatedAt": "2026-06-25T13:25:45.479Z",
  "createdAt": "2026-06-17T20:28:24.921Z",
  "id": "T7P9ILGe1HAKmwns",
  "name": "W-CAL",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */30 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -496
      ],
      "id": "82b6d274-bc8d-4e93-b01e-b24dd61ef9fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "jbalenton@gmail.com",
          "mode": "list",
          "cachedResultName": "Google Calendar"
        },
        "returnAll": true,
        "timeMin": "={{ $now.startOf('day') }}",
        "timeMax": "={{ $now.plus({days: 1}).endOf('day') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -768,
        -304
      ],
      "id": "0e1179fa-b0db-4c55-a6d8-79921aef4e37",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RdSNEE6FjBBy5QDo",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst lines = [];\n\nfor (const item of items) {\n  const title = item.json.summary || '(No title)';\n  const startRaw = item.json.start?.dateTime;\n  const endRaw = item.json.end?.dateTime;\n\n  if (!startRaw || !endRaw) continue;\n\n  const startTime = startRaw.substring(11, 16);\n  const endTime = endRaw.substring(11, 16);\n\n  lines.push(startTime + '–' + endTime + ': ' + title);\n}\n\nconst eventText = lines.length > 0\n  ? lines.join('\\n')\n  : '(No events today or tomorrow)';\n\nreturn [{ json: { eventText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -112
      ],
      "id": "dfc67c13-4e6f-43ef-96ac-f526b91f98aa",
      "name": "Format Event List"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8078-a6c6-ca72e3c0ff43",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Details\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n          \"content\": \"{{ $('Format Event List').item.json.eventText.replace(/\\n/g, '\\\\n') }}\"\n          }\n        }\n      ]\n    },\n    \"Last Updated\": {\n      \"date\": {\n        \"start\": \"{{ $now.toISO() }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        -64
      ],
      "id": "5f21b786-28d9-4f37-9ce5-c3a6be87c7ab",
      "name": "Update Calendar Feed",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-80b7-8eed-c7d5aadff595",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": {\n      \"date\": {\n        \"start\": \"{{ $now.toISO() }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -64
      ],
      "id": "bb13b271-bb3a-48b9-803d-e0ec39a2ad1a",
      "name": "Update Calendar Feed1",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Format Event List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Event List": {
      "main": [
        [
          {
            "node": "Update Calendar Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Feed": {
      "main": [
        [
          {
            "node": "Update Calendar Feed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cd3a6c69-c0f3-4303-9098-55ad4e57872b",
  "activeVersionId": "cd3a6c69-c0f3-4303-9098-55ad4e57872b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-17T20:28:24.927Z",
      "createdAt": "2026-06-17T20:28:24.927Z",
      "role": "workflow:owner",
      "workflowId": "T7P9ILGe1HAKmwns",
      "projectId": "rHH3woewt9mPybP5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-17T21:37:54.000Z",
    "createdAt": "2026-06-17T21:34:28.403Z",
    "versionId": "cd3a6c69-c0f3-4303-9098-55ad4e57872b",
    "workflowId": "T7P9ILGe1HAKmwns",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 */30 * * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -992,
          -496
        ],
        "id": "82b6d274-bc8d-4e93-b01e-b24dd61ef9fa",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "jbalenton@gmail.com",
            "mode": "list",
            "cachedResultName": "Google Calendar"
          },
          "returnAll": true,
          "timeMin": "={{ $now.startOf('day') }}",
          "timeMax": "={{ $now.plus({days: 1}).endOf('day') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          -768,
          -304
        ],
        "id": "0e1179fa-b0db-4c55-a6d8-79921aef4e37",
        "name": "Get many events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RdSNEE6FjBBy5QDo",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst lines = [];\n\nfor (const item of items) {\n  const title = item.json.summary || '(No title)';\n  const startRaw = item.json.start?.dateTime;\n  const endRaw = item.json.end?.dateTime;\n\n  if (!startRaw || !endRaw) continue;\n\n  const startTime = startRaw.substring(11, 16);\n  const endTime = endRaw.substring(11, 16);\n\n  lines.push(startTime + '–' + endTime + ': ' + title);\n}\n\nconst eventText = lines.length > 0\n  ? lines.join('\\n')\n  : '(No events today or tomorrow)';\n\nreturn [{ json: { eventText } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -544,
          -112
        ],
        "id": "dfc67c13-4e6f-43ef-96ac-f526b91f98aa",
        "name": "Format Event List"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8078-a6c6-ca72e3c0ff43",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Details\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n          \"content\": \"{{ $('Format Event List').item.json.eventText.replace(/\\n/g, '\\\\n') }}\"\n          }\n        }\n      ]\n    },\n    \"Last Updated\": {\n      \"date\": {\n        \"start\": \"{{ $now.toISO() }}\"\n      }\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          16,
          -64
        ],
        "id": "5f21b786-28d9-4f37-9ce5-c3a6be87c7ab",
        "name": "Update Calendar Feed",
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-80b7-8eed-c7d5aadff595",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": {\n      \"date\": {\n        \"start\": \"{{ $now.toISO() }}\"\n      }\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          -64
        ],
        "id": "bb13b271-bb3a-48b9-803d-e0ec39a2ad1a",
        "name": "Update Calendar Feed1",
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Format Event List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Event List": {
        "main": [
          [
            {
              "node": "Update Calendar Feed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Calendar Feed": {
        "main": [
          [
            {
              "node": "Update Calendar Feed1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jeff Balenton",
    "name": "Version cd3a6c69",
    "description": "",
    "autosaved": true
  },
  "tags": []
}