n8n-workflows/W-IMPNUDGE.json
{
  "updatedAt": "2026-06-25T13:25:42.801Z",
  "createdAt": "2026-06-17T02:28:06.552Z",
  "id": "UzIuVBU0h1BPdZ8g",
  "name": "W-IMPNUDGE",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -496
      ],
      "id": "3b8776fa-797e-4d71-aca6-e1f2080511d6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const row = $('Notion Read (System Status — Last /improve Run)').item.json;\nconst lastUpdated = row['property_last_updated']?.start;\n\nlet flag = false;\nlet details = '';\n\nif (!lastUpdated) {\n  flag = true;\n  details = 'Last run: never';\n} else {\n  const last = new Date(lastUpdated);\n  const today = new Date($now.toISO());\n  const diffDays = Math.floor((today - last) / (1000 * 60 * 60 * 24));\n  \n  if (diffDays >= 84) {\n    flag = true;\n  }\n  details = `Last run: ${lastUpdated.split('T')[0]}`;\n}\n\nreturn [{ json: { active: flag, details } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -160
      ],
      "id": "c49b95ea-028e-4b76-9904-62861e76e0da",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "3801a0ad-6469-8057-8548-f73c84267fdd",
          "mode": "list",
          "cachedResultName": "System Status",
          "cachedResultUrl": "https://app.notion.com/p/3801a0ad646980578548f73c84267fdd"
        },
        "limit": 51,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "titleValue": "Last /Improve Run"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -768,
        -320
      ],
      "id": "33b1701b-3751-4791-bbb2-0032e1a35c83",
      "name": "Notion Read (System Status — Last /improve Run)",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad646980d7a89bff576629b042",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Active\": {\n      \"checkbox\": {{$json.active}}\n    },\n    \"Details\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{$json.details}}\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        -80
      ],
      "id": "e659cf59-6bfc-48e7-a39c-8c56838c6939",
      "name": "HTTP Request PATCH — /improve Nudge row",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad646980d1bec8f6e5f9536301",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": {\n      \"date\": {\n        \"start\": \"{{$now.toFormat('yyyy-MM-dd')}}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        -80
      ],
      "id": "1901fbfb-2c06-44d3-8853-84c482cf5fb3",
      "name": "HTTP Request",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Notion Read (System Status — Last /improve Run)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Read (System Status — Last /improve Run)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request PATCH — /improve Nudge row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request PATCH — /improve Nudge row": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ab8ac031-8978-447b-a702-bcdeda378095",
  "activeVersionId": "ab8ac031-8978-447b-a702-bcdeda378095",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-17T02:28:06.556Z",
      "createdAt": "2026-06-17T02:28:06.556Z",
      "role": "workflow:owner",
      "workflowId": "UzIuVBU0h1BPdZ8g",
      "projectId": "rHH3woewt9mPybP5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-17T20:25:15.000Z",
    "createdAt": "2026-06-17T20:24:53.043Z",
    "versionId": "ab8ac031-8978-447b-a702-bcdeda378095",
    "workflowId": "UzIuVBU0h1BPdZ8g",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 7 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -992,
          -496
        ],
        "id": "3b8776fa-797e-4d71-aca6-e1f2080511d6",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "const row = $('Notion Read (System Status — Last /improve Run)').item.json;\nconst lastUpdated = row['property_last_updated']?.start;\n\nlet flag = false;\nlet details = '';\n\nif (!lastUpdated) {\n  flag = true;\n  details = 'Last run: never';\n} else {\n  const last = new Date(lastUpdated);\n  const today = new Date($now.toISO());\n  const diffDays = Math.floor((today - last) / (1000 * 60 * 60 * 24));\n  \n  if (diffDays >= 84) {\n    flag = true;\n  }\n  details = `Last run: ${lastUpdated.split('T')[0]}`;\n}\n\nreturn [{ json: { active: flag, details } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -528,
          -160
        ],
        "id": "c49b95ea-028e-4b76-9904-62861e76e0da",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "3801a0ad-6469-8057-8548-f73c84267fdd",
            "mode": "list",
            "cachedResultName": "System Status",
            "cachedResultUrl": "https://app.notion.com/p/3801a0ad646980578548f73c84267fdd"
          },
          "limit": 51,
          "filterType": "manual",
          "filters": {
            "conditions": [
              {
                "key": "Name|title",
                "condition": "equals",
                "titleValue": "Last /Improve Run"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          -768,
          -320
        ],
        "id": "33b1701b-3751-4791-bbb2-0032e1a35c83",
        "name": "Notion Read (System Status — Last /improve Run)",
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad646980d7a89bff576629b042",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Active\": {\n      \"checkbox\": {{$json.active}}\n    },\n    \"Details\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{$json.details}}\"\n          }\n        }\n      ]\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -336,
          -80
        ],
        "id": "e659cf59-6bfc-48e7-a39c-8c56838c6939",
        "name": "HTTP Request PATCH — /improve Nudge row",
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad646980d1bec8f6e5f9536301",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": {\n      \"date\": {\n        \"start\": \"{{$now.toFormat('yyyy-MM-dd')}}\"\n      }\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -128,
          -80
        ],
        "id": "1901fbfb-2c06-44d3-8853-84c482cf5fb3",
        "name": "HTTP Request",
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Notion Read (System Status — Last /improve Run)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion Read (System Status — Last /improve Run)": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request PATCH — /improve Nudge row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request PATCH — /improve Nudge row": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jeff Balenton",
    "name": "Version ab8ac031",
    "description": "",
    "autosaved": true
  },
  "tags": []
}