n8n-workflows/W-QCAP.json
{
  "updatedAt": "2026-06-25T15:16:34.610Z",
  "createdAt": "2026-06-16T00:46:22.890Z",
  "id": "tvxybXzG3YmpsbbU",
  "name": "W-QCAP",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */20 * * * *"
            }
          ]
        }
      },
      "id": "be91d7f4-38e4-4813-b3c2-3ae87b4a0a18",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "3801a0ad-6469-802a-b776-cf12b74589a1",
          "mode": "id"
        }
      },
      "id": "e8c3a600-de46-4562-bada-89920e6b7f69",
      "name": "Get many child blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const block = item.json;\n\n  if (\n    block.type === 'paragraph' &&\n    block.content &&\n    block.content.trim() !== ''\n  ) {\n    output.push({\n      json: {\n        text: block.content.trim(),\n        blockId: block.id\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "id": "0653376c-6546-4d9b-998a-baae50a4b672",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.blockId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "f51c4b72-3a3c-46a3-ac81-961ebb4bbe2c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "claude-haiku-4-5-20251001"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $(\"Code in JavaScript\").item.json.text }}"
            }
          ]
        },
        "options": {
          "system": "You split voice-dictated capture text into discrete items. The input is one block of dictated text that may contain several separate thoughts, tasks, reminders, or notes run together with little or no punctuation. Rules: (1) Split into separate items only where there are genuinely distinct captures; a single coherent thought stays as ONE item. (2) Honor self-corrections: if the speaker corrects themselves (\"call the dentist, no wait, the orthodontist\"), keep only the corrected version. (3) Strip filler words (um, uh, like, you know) and dictation artifacts; fix obvious homophones (to/two/too, their/there/they’re) and add light punctuation/capitalization for readability. (4) Do NOT invent, summarize, or editorialize—preserve the speaker’s meaning and wording. Output ONLY a JSON array of strings, one per item, with no markdown, no code fences, no preamble. Example output: [\"Call the orthodontist tomorrow\",\"Buy milk and eggs\",\"Idea: niche the Upwork listing toward ADHD founders\"]. If the input is a single item, return a one-element array.",
          "maxTokens": 1024,
          "temperature": 0
        }
      },
      "id": "ecde15b0-2373-4afd-bb29-4e11ace99061",
      "name": "Split Dictation (LLM)",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "credentials": {
        "anthropicApi": {
          "id": "HLPFtgYG97bb8ssQ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM JSON array and emit one item per capture.\nfunction extractText(j) {\n  if (Array.isArray(j.content) && j.content[0] && typeof j.content[0].text === 'string') {\n    return j.content[0].text;\n  }\n  if (typeof j.text === 'string') return j.text;\n  if (typeof j.response === 'string') return j.response;\n  if (typeof j.message === 'string') return j.message;\n  if (typeof j.content === 'string') return j.content;\n  return JSON.stringify(j);\n}\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  let raw = extractText(item.json);\n\n  const cleaned = String(raw)\n    .replace(/```json/gi, '')\n    .replace(/```/g, '')\n    .trim();\n\n  let pieces;\n  try {\n    pieces = JSON.parse(cleaned);\n    if (!Array.isArray(pieces)) pieces = [String(pieces)];\n  } catch (e) {\n    pieces = [cleaned];\n  }\n\n  pieces = pieces\n    .map(p => (typeof p === 'string' ? p.trim() : String(p).trim()))\n    .filter(p => p.length > 0);\n\n  if (pieces.length === 0) continue;\n\n  const total = pieces.length;\n  pieces.forEach((p, idx) => {\n    out.push({\n      json: {\n        text: p,\n        isFirstOfBlock: idx === 0,\n        splitCount: total\n      }\n    });\n  });\n}\n\nreturn out;\n"
      },
      "id": "920a1268-80e8-4d07-96e8-e51c5619d6ee",
      "name": "Explode Split Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "37a1a0ad-6469-807e-9a01-c71a0f36b1c1",
          "mode": "list",
          "cachedResultName": "Inbox",
          "cachedResultUrl": "https://app.notion.com/p/37a1a0ad6469807e9a01c71a0f36b1c1"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.text }}"
            },
            {
              "key": "Routing Status|select",
              "selectValue": "Ambiguous"
            },
            {
              "key": "Suggested Destination|select",
              "selectValue": "Uncategorized"
            },
            {
              "key": "Created Via|select",
              "selectValue": "Quick Capture"
            },
            {
              "key": "Last Touched|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9902e595-f7b3-4a5a-bce9-0f92e3d82e6d",
      "name": "Create a database page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1344,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "https://app.notion.com/p/W-QCAP-3801a0ad646980039fdbe0abee3fcdbf",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Last Updated|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5c50772-8ec4-4c4f-938c-5197da4a1bc3",
      "name": "Update a database page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1568,
        0
      ],
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many child blocks": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Dictation (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Dictation (LLM)": {
      "main": [
        [
          {
            "node": "Explode Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Split Items": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "ddfbe1c1-b7c1-474e-bf71-76c0eb87d4e0",
  "activeVersionId": "ddfbe1c1-b7c1-474e-bf71-76c0eb87d4e0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-16T00:46:22.894Z",
      "createdAt": "2026-06-16T00:46:22.894Z",
      "role": "workflow:owner",
      "workflowId": "tvxybXzG3YmpsbbU",
      "projectId": "rHH3woewt9mPybP5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-25T15:16:34.611Z",
    "createdAt": "2026-06-25T15:16:34.611Z",
    "versionId": "ddfbe1c1-b7c1-474e-bf71-76c0eb87d4e0",
    "workflowId": "tvxybXzG3YmpsbbU",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 */20 * * * *"
              }
            ]
          }
        },
        "id": "be91d7f4-38e4-4813-b3c2-3ae87b4a0a18",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "resource": "block",
          "operation": "getAll",
          "blockId": {
            "__rl": true,
            "value": "3801a0ad-6469-802a-b776-cf12b74589a1",
            "mode": "id"
          }
        },
        "id": "e8c3a600-de46-4562-bada-89920e6b7f69",
        "name": "Get many child blocks",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          224,
          0
        ],
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const block = item.json;\n\n  if (\n    block.type === 'paragraph' &&\n    block.content &&\n    block.content.trim() !== ''\n  ) {\n    output.push({\n      json: {\n        text: block.content.trim(),\n        blockId: block.id\n      }\n    });\n  }\n}\n\nreturn output;\n"
        },
        "id": "0653376c-6546-4d9b-998a-baae50a4b672",
        "name": "Code in JavaScript",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.notion.com/v1/blocks/{{ $json.blockId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "options": {}
        },
        "id": "f51c4b72-3a3c-46a3-ac81-961ebb4bbe2c",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          672,
          0
        ],
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "claude-haiku-4-5-20251001"
          },
          "messages": {
            "values": [
              {
                "content": "={{ $(\"Code in JavaScript\").item.json.text }}"
              }
            ]
          },
          "options": {
            "system": "You split voice-dictated capture text into discrete items. The input is one block of dictated text that may contain several separate thoughts, tasks, reminders, or notes run together with little or no punctuation. Rules: (1) Split into separate items only where there are genuinely distinct captures; a single coherent thought stays as ONE item. (2) Honor self-corrections: if the speaker corrects themselves (\"call the dentist, no wait, the orthodontist\"), keep only the corrected version. (3) Strip filler words (um, uh, like, you know) and dictation artifacts; fix obvious homophones (to/two/too, their/there/they’re) and add light punctuation/capitalization for readability. (4) Do NOT invent, summarize, or editorialize—preserve the speaker’s meaning and wording. Output ONLY a JSON array of strings, one per item, with no markdown, no code fences, no preamble. Example output: [\"Call the orthodontist tomorrow\",\"Buy milk and eggs\",\"Idea: niche the Upwork listing toward ADHD founders\"]. If the input is a single item, return a one-element array.",
            "maxTokens": 1024,
            "temperature": 0
          }
        },
        "id": "ecde15b0-2373-4afd-bb29-4e11ace99061",
        "name": "Split Dictation (LLM)",
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          896,
          0
        ],
        "credentials": {
          "anthropicApi": {
            "id": "HLPFtgYG97bb8ssQ",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse the LLM JSON array and emit one item per capture.\nfunction extractText(j) {\n  if (Array.isArray(j.content) && j.content[0] && typeof j.content[0].text === 'string') {\n    return j.content[0].text;\n  }\n  if (typeof j.text === 'string') return j.text;\n  if (typeof j.response === 'string') return j.response;\n  if (typeof j.message === 'string') return j.message;\n  if (typeof j.content === 'string') return j.content;\n  return JSON.stringify(j);\n}\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  let raw = extractText(item.json);\n\n  const cleaned = String(raw)\n    .replace(/```json/gi, '')\n    .replace(/```/g, '')\n    .trim();\n\n  let pieces;\n  try {\n    pieces = JSON.parse(cleaned);\n    if (!Array.isArray(pieces)) pieces = [String(pieces)];\n  } catch (e) {\n    pieces = [cleaned];\n  }\n\n  pieces = pieces\n    .map(p => (typeof p === 'string' ? p.trim() : String(p).trim()))\n    .filter(p => p.length > 0);\n\n  if (pieces.length === 0) continue;\n\n  const total = pieces.length;\n  pieces.forEach((p, idx) => {\n    out.push({\n      json: {\n        text: p,\n        isFirstOfBlock: idx === 0,\n        splitCount: total\n      }\n    });\n  });\n}\n\nreturn out;\n"
        },
        "id": "920a1268-80e8-4d07-96e8-e51c5619d6ee",
        "name": "Explode Split Items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          0
        ]
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "37a1a0ad-6469-807e-9a01-c71a0f36b1c1",
            "mode": "list",
            "cachedResultName": "Inbox",
            "cachedResultUrl": "https://app.notion.com/p/37a1a0ad6469807e9a01c71a0f36b1c1"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Name|title",
                "title": "={{ $json.text }}"
              },
              {
                "key": "Routing Status|select",
                "selectValue": "Ambiguous"
              },
              {
                "key": "Suggested Destination|select",
                "selectValue": "Uncategorized"
              },
              {
                "key": "Created Via|select",
                "selectValue": "Quick Capture"
              },
              {
                "key": "Last Touched|date",
                "date": "={{ $now.toISO() }}"
              }
            ]
          },
          "options": {}
        },
        "id": "9902e595-f7b3-4a5a-bce9-0f92e3d82e6d",
        "name": "Create a database page",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1344,
          0
        ],
        "alwaysOutputData": true,
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "https://app.notion.com/p/W-QCAP-3801a0ad646980039fdbe0abee3fcdbf",
            "mode": "url"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Last Updated|date",
                "date": "={{ $now.toISO() }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e5c50772-8ec4-4c4f-938c-5197da4a1bc3",
        "name": "Update a database page",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1568,
          0
        ],
        "executeOnce": true,
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many child blocks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many child blocks": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Dictation (LLM)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Dictation (LLM)": {
        "main": [
          [
            {
              "node": "Explode Split Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Explode Split Items": {
        "main": [
          [
            {
              "node": "Create a database page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a database page": {
        "main": [
          [
            {
              "node": "Update a database page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jeff Balenton",
    "name": null,
    "description": null,
    "autosaved": true
  },
  "tags": []
}