n8n-workflows/W-QCAP.json
{
  "name": "W-QCAP",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */20 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b8b6fe2f-ad60-46d8-b3b3-2a44a93c4aca",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "3801a0ad-6469-802a-b776-cf12b74589a1",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "b62e7bed-4df2-4a3a-97df-6126fc9f8cc3",
      "name": "Get many child blocks",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const block = item.json;\n  \n  if (\n    block.type === 'paragraph' &&\n    block.content &&\n    block.content.trim() !== ''\n  ) {\n    output.push({\n      json: {\n        text: block.content.trim(),\n        blockId: block.id\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "6cd4eab0-7f48-4575-8bb7-c5ed81ceccba",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "37a1a0ad-6469-807e-9a01-c71a0f36b1c1",
          "mode": "list",
          "cachedResultName": "Inbox",
          "cachedResultUrl": "https://app.notion.com/p/37a1a0ad6469807e9a01c71a0f36b1c1"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.text }}"
            },
            {
              "key": "Routing Status|select",
              "selectValue": "Ambigous\n"
            },
            {
              "key": "Suggested Destination|select",
              "selectValue": "Uncategorized"
            },
            {
              "key": "Created Via|select",
              "selectValue": "=Quick Capture"
            },
            {
              "key": "Last Touched|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        608,
        -64
      ],
      "id": "d0086998-dacd-4c25-9c4c-51948cdbe675",
      "name": "Create a database page",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Code in JavaScript').item.json.blockId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ntn_d69906852891K6SFLSkRu1L2aFtxwPTIZKVoTwDuhTB7q8"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        -64
      ],
      "id": "7ba8cf47-53ab-4de9-8f99-07c823f406d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "https://app.notion.com/p/W-QCAP-3801a0ad646980039fdbe0abee3fcdbf",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Last Updated|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1024,
        -64
      ],
      "id": "1562f019-ac5a-4028-bc08-e499abfe2688",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many child blocks": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4249c4aa-bbff-488f-8786-34125bca5f82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0c991d4ea9fb6441b00eb4eda4bc1655ef58946b745a8084687fc382cec3564"
  },
  "id": "tvxybXzG3YmpsbbU",
  "tags": []
}