n8n-workflows/W-SWEEP.json
{
  "updatedAt": "2026-06-18T00:59:31.718Z",
  "createdAt": "2026-06-15T20:34:21.184Z",
  "id": "jSWZysMFFxIMCXub",
  "name": "W-SWEEP",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "fb087742-a654-4976-b2c5-d49c77c1f915",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 23 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "0e208b65-5e12-4bf2-b055-395aa0b2880f",
      "name": "Get many database pages",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37a1a0ad-6469-807e-9a01-c71a0f36b1c1",
          "mode": "list",
          "cachedResultName": "Inbox",
          "cachedResultUrl": "https://app.notion.com/p/37a1a0ad6469807e9a01c71a0f36b1c1"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Routing Status|select",
              "condition": "equals",
              "selectValue": "Uncategorized"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "96c6af19-c222-4f12-8d9e-d47d48796f44",
      "name": "Update a database page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Surface Next|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "cbeb84a9-7f28-4412-886c-fe4ab656c30e",
      "name": "Update W-SWEEP Heartbeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-80ae-a0a3-fb238f9676eb",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        [
          {
            "node": "Update W-SWEEP Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "1f4f4d1b-4343-46b1-9f1a-d75fb93cf27e",
  "activeVersionId": "1f4f4d1b-4343-46b1-9f1a-d75fb93cf27e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-15T20:34:21.187Z",
      "createdAt": "2026-06-15T20:34:21.187Z",
      "role": "workflow:owner",
      "workflowId": "jSWZysMFFxIMCXub",
      "projectId": "rHH3woewt9mPybP5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-18T00:59:31.723Z",
    "createdAt": "2026-06-18T00:59:31.723Z",
    "versionId": "1f4f4d1b-4343-46b1-9f1a-d75fb93cf27e",
    "workflowId": "jSWZysMFFxIMCXub",
    "nodes": [
      {
        "id": "fb087742-a654-4976-b2c5-d49c77c1f915",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 30 23 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "0e208b65-5e12-4bf2-b055-395aa0b2880f",
        "name": "Get many database pages",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          224,
          0
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "37a1a0ad-6469-807e-9a01-c71a0f36b1c1",
            "mode": "list",
            "cachedResultName": "Inbox",
            "cachedResultUrl": "https://app.notion.com/p/37a1a0ad6469807e9a01c71a0f36b1c1"
          },
          "returnAll": true,
          "filterType": "manual",
          "filters": {
            "conditions": [
              {
                "key": "Routing Status|select",
                "condition": "equals",
                "selectValue": "Uncategorized"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "96c6af19-c222-4f12-8d9e-d47d48796f44",
        "name": "Update a database page",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          448,
          0
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Surface Next|checkbox",
                "checkboxValue": true
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "cbeb84a9-7f28-4412-886c-fe4ab656c30e",
        "name": "Update W-SWEEP Heartbeat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          672,
          0
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-80ae-a0a3-fb238f9676eb",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many database pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many database pages": {
        "main": [
          [
            {
              "node": "Update a database page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a database page": {
        "main": [
          [
            {
              "node": "Update W-SWEEP Heartbeat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jeff Balenton",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}