n8n-workflows/W-THEME.json
{
  "updatedAt": "2026-06-17T22:35:53.176Z",
  "createdAt": "2026-06-17T22:35:53.176Z",
  "id": "Hn9kqWHY3yBjCsa4",
  "name": "W-THEME",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "5c4f82fb-217a-4a17-a1a3-9805881a6230",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "5f01f653-7c9a-4228-85fe-9f66b7e0cf5b",
      "name": "Read All Themes",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        96
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37f1a0ad-6469-80d7-af42-c52a4122d538",
          "mode": "id",
          "cachedResultName": "Themes"
        },
        "returnAll": true,
        "simple": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "1a4734b3-5605-44e8-8241-a30b1499190b",
      "name": "Read Inbox 6wk",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        96
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37a1a0ad-6469-807e-9a01-c71a0f36b1c1",
          "mode": "id",
          "cachedResultName": "Inbox"
        },
        "returnAll": true,
        "simple": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "76066b52-0b46-4eac-95e1-9e93d95c430b",
      "name": "Read Decision Log 6wk",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        672,
        96
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37f1a0ad-6469-8090-be4b-e7d3af13a210",
          "mode": "id",
          "cachedResultName": "Decision Log"
        },
        "returnAll": true,
        "simple": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "7e96a739-19cc-4c3f-bf91-f7d7a368cced",
      "name": "Read EF Log 6wk",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        896,
        96
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "e59d2c18-c886-4e76-b815-c85a045ec9b5",
          "mode": "id",
          "cachedResultName": "Energy & Friction Log"
        },
        "returnAll": true,
        "simple": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "1601cc86-b38b-4613-919d-986f7a996dac",
      "name": "Count Theme Occurrences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst norm = (s) => String(s || '').replace(/-/g, '');\nconst cutoff = Date.now() - 42 * 86400000; // 6 weeks\nconst dateOf = (it) =>\n  (it.json.property_last_touched && it.json.property_last_touched.start) ||\n  (it.json.property_date && it.json.property_date.start) || null;\nconst inWindow = (it) => { const d = dateOf(it); return d ? (new Date(d).getTime() >= cutoff) : true; };\nconst relIds = (it) => {\n  const r = it.json.property_relates_to_theme;\n  if (!r) return [];\n  const arr = Array.isArray(r) ? r : [r];\n  return arr.map(x => norm(x && x.id ? x.id : x));\n};\nconst entries = [\n  ...$('Read Inbox 6wk').all(),\n  ...$('Read Decision Log 6wk').all(),\n  ...$('Read EF Log 6wk').all(),\n].filter(inWindow);\nconst themes = $('Read All Themes').all();\nconst counts = themes.map(t => {\n  const tid = norm(t.json.id);\n  let c = 0;\n  for (const e of entries) if (relIds(e).includes(tid)) c++;\n  const themeName = t.json.property_theme_name || t.json.name || 'Unnamed';\n  const pageId32 = norm(t.json.id) || (String(t.json.url||'').replace(/-/g,'').match(/[0-9a-f]{32}/i)||[''])[0];\n  return { themeName, occurrenceCount: c, pageId32 };\n});\nreturn counts.map(c => ({ json: c }));"
      }
    },
    {
      "id": "8be36f21-4a03-434d-a410-91f3ae7699f2",
      "name": "Update Theme Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId32 }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Occurrence Count\": { \"number\": {{ $json.occurrenceCount }} }\n  }\n}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "ef86ee6c-382c-43bf-9bad-89e788229345",
      "name": "Summarize Theme Recurrence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        192
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst norm = (s) => String(s || '').replace(/-/g, '');\nconst cutoff = Date.now() - 42 * 86400000; // 6 weeks\nconst dateOf = (it) =>\n  (it.json.property_last_touched && it.json.property_last_touched.start) ||\n  (it.json.property_date && it.json.property_date.start) || null;\nconst inWindow = (it) => { const d = dateOf(it); return d ? (new Date(d).getTime() >= cutoff) : true; };\nconst relIds = (it) => {\n  const r = it.json.property_relates_to_theme;\n  if (!r) return [];\n  const arr = Array.isArray(r) ? r : [r];\n  return arr.map(x => norm(x && x.id ? x.id : x));\n};\nconst entries = [\n  ...$('Read Inbox 6wk').all(),\n  ...$('Read Decision Log 6wk').all(),\n  ...$('Read EF Log 6wk').all(),\n].filter(inWindow);\nconst themes = $('Read All Themes').all();\nconst counts = themes.map(t => {\n  const tid = norm(t.json.id);\n  let c = 0;\n  for (const e of entries) if (relIds(e).includes(tid)) c++;\n  const themeName = t.json.property_theme_name || t.json.name || 'Unnamed';\n  const pageId32 = norm(t.json.id) || (String(t.json.url||'').replace(/-/g,'').match(/[0-9a-f]{32}/i)||[''])[0];\n  return { themeName, occurrenceCount: c, pageId32 };\n});\nconst recurring = counts.filter(c => c.occurrenceCount >= 4)\n  .map(c => `${c.themeName} (${c.occurrenceCount})`);\nconst active = recurring.length > 0;\nconst details = active\n  ? `Recurring: ${recurring.join(', ')}.`\n  : 'No themes at recurrence threshold this week.';\nreturn [{ json: { active, details } }];"
      }
    },
    {
      "id": "4e1c6704-e37b-4bfa-81d3-755762469fea",
      "name": "Update Theme Recurrence Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        192
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-80ee-a5da-e2b121066af7",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Active\": { \"checkbox\": {{ $('Summarize Theme Recurrence').item.json.active }} },\n    \"Details\": { \"rich_text\": [ { \"text\": { \"content\": \"{{ $('Summarize Theme Recurrence').item.json.details }}\" } } ] },\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "6961a455-9787-4e92-ae79-a0f07065aec7",
      "name": "Update W-THEME Heartbeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        192
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8093-9910-ff0bd513d693",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "AvmXQWvJBf0m2k5W",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read All Themes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Themes": {
      "main": [
        [
          {
            "node": "Read Inbox 6wk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Inbox 6wk": {
      "main": [
        [
          {
            "node": "Read Decision Log 6wk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Decision Log 6wk": {
      "main": [
        [
          {
            "node": "Read EF Log 6wk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read EF Log 6wk": {
      "main": [
        [
          {
            "node": "Count Theme Occurrences",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize Theme Recurrence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Theme Occurrences": {
      "main": [
        [
          {
            "node": "Update Theme Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Theme Recurrence": {
      "main": [
        [
          {
            "node": "Update Theme Recurrence Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Theme Recurrence Card": {
      "main": [
        [
          {
            "node": "Update W-THEME Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": null,
  "versionId": "7b2eb1ed-c54c-44ea-beae-fc62b75849c0",
  "activeVersionId": "7b2eb1ed-c54c-44ea-beae-fc62b75849c0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-17T22:35:53.178Z",
      "createdAt": "2026-06-17T22:35:53.178Z",
      "role": "workflow:owner",
      "workflowId": "Hn9kqWHY3yBjCsa4",
      "projectId": "rHH3woewt9mPybP5"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-17T22:35:53.179Z",
    "createdAt": "2026-06-17T22:35:53.179Z",
    "versionId": "7b2eb1ed-c54c-44ea-beae-fc62b75849c0",
    "workflowId": "Hn9kqWHY3yBjCsa4",
    "nodes": [
      {
        "id": "5c4f82fb-217a-4a17-a1a3-9805881a6230",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          96
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 6 * * 1"
              }
            ]
          }
        }
      },
      {
        "id": "5f01f653-7c9a-4228-85fe-9f66b7e0cf5b",
        "name": "Read All Themes",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          224,
          96
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "37f1a0ad-6469-80d7-af42-c52a4122d538",
            "mode": "id",
            "cachedResultName": "Themes"
          },
          "returnAll": true,
          "simple": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "1a4734b3-5605-44e8-8241-a30b1499190b",
        "name": "Read Inbox 6wk",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          448,
          96
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "37a1a0ad-6469-807e-9a01-c71a0f36b1c1",
            "mode": "id",
            "cachedResultName": "Inbox"
          },
          "returnAll": true,
          "simple": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "76066b52-0b46-4eac-95e1-9e93d95c430b",
        "name": "Read Decision Log 6wk",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          672,
          96
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "37f1a0ad-6469-8090-be4b-e7d3af13a210",
            "mode": "id",
            "cachedResultName": "Decision Log"
          },
          "returnAll": true,
          "simple": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "7e96a739-19cc-4c3f-bf91-f7d7a368cced",
        "name": "Read EF Log 6wk",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          896,
          96
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "e59d2c18-c886-4e76-b815-c85a045ec9b5",
            "mode": "id",
            "cachedResultName": "Energy & Friction Log"
          },
          "returnAll": true,
          "simple": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "1601cc86-b38b-4613-919d-986f7a996dac",
        "name": "Count Theme Occurrences",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst norm = (s) => String(s || '').replace(/-/g, '');\nconst cutoff = Date.now() - 42 * 86400000; // 6 weeks\nconst dateOf = (it) =>\n  (it.json.property_last_touched && it.json.property_last_touched.start) ||\n  (it.json.property_date && it.json.property_date.start) || null;\nconst inWindow = (it) => { const d = dateOf(it); return d ? (new Date(d).getTime() >= cutoff) : true; };\nconst relIds = (it) => {\n  const r = it.json.property_relates_to_theme;\n  if (!r) return [];\n  const arr = Array.isArray(r) ? r : [r];\n  return arr.map(x => norm(x && x.id ? x.id : x));\n};\nconst entries = [\n  ...$('Read Inbox 6wk').all(),\n  ...$('Read Decision Log 6wk').all(),\n  ...$('Read EF Log 6wk').all(),\n].filter(inWindow);\nconst themes = $('Read All Themes').all();\nconst counts = themes.map(t => {\n  const tid = norm(t.json.id);\n  let c = 0;\n  for (const e of entries) if (relIds(e).includes(tid)) c++;\n  const themeName = t.json.property_theme_name || t.json.name || 'Unnamed';\n  const pageId32 = norm(t.json.id) || (String(t.json.url||'').replace(/-/g,'').match(/[0-9a-f]{32}/i)||[''])[0];\n  return { themeName, occurrenceCount: c, pageId32 };\n});\nreturn counts.map(c => ({ json: c }));"
        }
      },
      {
        "id": "8be36f21-4a03-434d-a410-91f3ae7699f2",
        "name": "Update Theme Rows",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1344,
          0
        ],
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.notion.com/v1/pages/{{ $json.pageId32 }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Occurrence Count\": { \"number\": {{ $json.occurrenceCount }} }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "ef86ee6c-382c-43bf-9bad-89e788229345",
        "name": "Summarize Theme Recurrence",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          192
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst norm = (s) => String(s || '').replace(/-/g, '');\nconst cutoff = Date.now() - 42 * 86400000; // 6 weeks\nconst dateOf = (it) =>\n  (it.json.property_last_touched && it.json.property_last_touched.start) ||\n  (it.json.property_date && it.json.property_date.start) || null;\nconst inWindow = (it) => { const d = dateOf(it); return d ? (new Date(d).getTime() >= cutoff) : true; };\nconst relIds = (it) => {\n  const r = it.json.property_relates_to_theme;\n  if (!r) return [];\n  const arr = Array.isArray(r) ? r : [r];\n  return arr.map(x => norm(x && x.id ? x.id : x));\n};\nconst entries = [\n  ...$('Read Inbox 6wk').all(),\n  ...$('Read Decision Log 6wk').all(),\n  ...$('Read EF Log 6wk').all(),\n].filter(inWindow);\nconst themes = $('Read All Themes').all();\nconst counts = themes.map(t => {\n  const tid = norm(t.json.id);\n  let c = 0;\n  for (const e of entries) if (relIds(e).includes(tid)) c++;\n  const themeName = t.json.property_theme_name || t.json.name || 'Unnamed';\n  const pageId32 = norm(t.json.id) || (String(t.json.url||'').replace(/-/g,'').match(/[0-9a-f]{32}/i)||[''])[0];\n  return { themeName, occurrenceCount: c, pageId32 };\n});\nconst recurring = counts.filter(c => c.occurrenceCount >= 4)\n  .map(c => `${c.themeName} (${c.occurrenceCount})`);\nconst active = recurring.length > 0;\nconst details = active\n  ? `Recurring: ${recurring.join(', ')}.`\n  : 'No themes at recurrence threshold this week.';\nreturn [{ json: { active, details } }];"
        }
      },
      {
        "id": "4e1c6704-e37b-4bfa-81d3-755762469fea",
        "name": "Update Theme Recurrence Card",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1344,
          192
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-80ee-a5da-e2b121066af7",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Active\": { \"checkbox\": {{ $('Summarize Theme Recurrence').item.json.active }} },\n    \"Details\": { \"rich_text\": [ { \"text\": { \"content\": \"{{ $('Summarize Theme Recurrence').item.json.details }}\" } } ] },\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "6961a455-9787-4e92-ae79-a0f07065aec7",
        "name": "Update W-THEME Heartbeat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1568,
          192
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://api.notion.com/v1/pages/3801a0ad-6469-8093-9910-ff0bd513d693",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"properties\": {\n    \"Last Updated\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "AvmXQWvJBf0m2k5W",
            "name": "Notion account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read All Themes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read All Themes": {
        "main": [
          [
            {
              "node": "Read Inbox 6wk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Inbox 6wk": {
        "main": [
          [
            {
              "node": "Read Decision Log 6wk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Decision Log 6wk": {
        "main": [
          [
            {
              "node": "Read EF Log 6wk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read EF Log 6wk": {
        "main": [
          [
            {
              "node": "Count Theme Occurrences",
              "type": "main",
              "index": 0
            },
            {
              "node": "Summarize Theme Recurrence",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Count Theme Occurrences": {
        "main": [
          [
            {
              "node": "Update Theme Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize Theme Recurrence": {
        "main": [
          [
            {
              "node": "Update Theme Recurrence Card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Theme Recurrence Card": {
        "main": [
          [
            {
              "node": "Update W-THEME Heartbeat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jeff Balenton",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}